html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.site-header {
    font-size: 2em;
    padding: 0.5em;
    background-color: #f4f4f4;
}

.outer-container {
    flex-grow: 1;
    display: flex;
    margin: 0px;
}

.app-container {
  flex-grow: 1;
  padding: 20px;
}

.menu-item {
    overflow: hidden;
    margin: 5px;
    height: auto;
}
.sidebar-menu {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
}

.menu-folder-items {
    height: 0px;
    position: relative;
    top: -100px;
}

.menu-folder-items-collapsed {
    height: auto;
    top: 0;
    transition: top 0.2s ease-out;
}

.menu-item {
    cursor: pointer;
}

.menu-item:hover {
    background-color: red;
}
